@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
  background: #f6f1e6;
}

/* Leaflet */
.leaflet-container {
  width: 100%;
  height: 100%;
  font-family: inherit;
}

.leaflet-control-attribution {
  font-size: 8px !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 6px;
}

.leaflet-popup-content {
  margin: 8px !important;
}